* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  position: relative;
  background-color: black;
  color: white;
  font-family: Roboto, sans-serif;
  /* height: 80vh; */
  /* overflow: hidden; */
}

.shadow-card {
  box-shadow: 0 1px 23px rgba(0, 0, 0, 0.1);
}

#bg-home {
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: -1;
}

#home,
#portfolio,
#contact-me {
  height: 80vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 2rem 0;
}

.nav {
  display: flex;
  margin-left: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

nav li:hover {
  cursor: pointer;
  opacity: 80%;
}

#intro {
  display: flex;
  height: 80vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  line-height: 4rem;
}

.about-portfolio {
  height: 200%;
  overflow: hidden;
}

#about-me {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 92%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 0 1px 23px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.about-me {
  position: relative;
  overflow: hidden;
}

h1 {
  color: #000;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}

#headshot {
  top: 5%;
  left: 50%;
  height: 32rem;
  z-index: 0;
}

.card {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  height: 32rem;
  width: 30rem;
  z-index: 1;
}

.about-align {
  display: flex;
  justify-content: left;
}

h1 {
  font-size: 6.5rem;
  text-align: start;
}

.title-intro {
  font-size: 2.5rem;
  padding: 2rem 0;
  color: #000;
}

.about-para {
  /* background-color: black; */
  height: 22rem;
  width: 30rem;
  font-size: 1.4rem;
  color: rgb(46, 42, 42);
  top: 45%;
  right: 40%;
  z-index: 2;
  line-height: 2rem;
}

.triangle1 {
  position: absolute;
  top: 30%;
  right: 10%;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 405px solid rgba(110, 83, 83, 0.664);
}
.triangle2 {
  position: absolute;
  top: 45%;
  right: 10%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 135px solid rgba(110, 83, 83, 0.664);
}
.triangle3 {
  position: absolute;
  top: 1%;
  right: 80%;
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 505px solid rgba(110, 83, 83, 0.664);
}
.triangle4 {
  position: absolute;
  top: 10%;
  right: 49%;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 135px solid rgba(110, 83, 83, 0.664);
}
.triangle5 {
  position: absolute;
  top: 70%;
  right: 60%;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 405px solid rgba(110, 83, 83, 0.664);
}

.triangle6 {
  position: absolute;
  top: 10%;
  right: 60%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 60px solid rgba(110, 83, 83, 0.664);
}

.triangle7 {
  position: absolute;
  top: 15%;
  right: 20%;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 75px solid rgba(110, 83, 83, 0.664);
}

.triangle8 {
  position: absolute;
  top: 45%;
  right: 60%;
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 115px solid rgba(110, 83, 83, 0.664);
}

#facts {
  display: grid;
  grid-column: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.grogu {
  height: 32rem;
}

#facts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.4rem;
}

.facts {
  color: rgb(129, 123, 123);
  line-height: 3rem;
}

#skills-card {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  box-shadow: 0 1px 23px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.chart-section {
  height: 5rem;
  width: 50rem;
  background-color: #fff;
  border-top: dotted 1px #000;
  border-left: solid 1px #000;
}

/* figure out nth of child */

.chart-sections :nth-child(4) {
  border-bottom: 1px solid #000;
}

.chart-skills {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50% -50%);
  display: flex;
  flex-direction: column;
  height: 20rem;
  background-color: #000;
}

/* Why is everything squished and overlapping?... */

@media screen and (max-width: 1024px) {
  #home,
  #portfolio,
  #contact-me {
    height: 100vh;
  }
  .row {
    flex-direction: column;
  }
}
