@import url("https://fonts.googleapis.com/css2?family=Comme:wght@400;600&family=Labrada&family=Montserrat:wght@400;600&family=Roboto:wght@400;700&family=Sono:wght@400;600&family=Tilt+Neon&display=swap");

body {
  font-family: "Comme", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 62.5;
  margin: 0;
  background-color: rgb(17, 20, 61);
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 5rem;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 237, 1) 100%
  );
}

button {
  background-color: red;
  margin-right: 2rem;
  height: 2rem;
  width: 5rem;
  background: linear-gradient(
    0deg,
    rgba(34, 178, 195, 1) 0%,
    rgba(45, 224, 253, 1) 100%
  );
  border-radius: 5px;
  color: #ddd;
  border: none;
  text-align: center;
  white-space: nowrap;
}

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design {
  height: 40rem;
  border-radius: 76% 24% 60% 40% / 39% 43% 57% 61%;
}

ul {
  list-style: none;
  font-size: 8rem;
  color: white;
}

li:hover {
  color: #eee;
  cursor: pointer;
}

.card {
  height: 30rem;
  width: 40rem;
}
